*.out
*.log
*.exit

**/udp-client
**/udp-server
**/echo_client
**/echo_server
**/time_client
**/time_server
**/dns_client
**/dns_server
**/bitstuffing
**/charstuffing
**/linkstate
**/distvector
**/day_client
**/day_server
**/add_client
**/add_server
